<!DOCTYPE html>
<!--
{% macro pagination{url, page} %}
	<ul class="uk-pagination">
		{% if page.has_previous %>
			<li><a href="{{ url }}{{ page.page_index - 1}}"><i class="uk-icon-angle-double-left"></i></a></li>
		{% else %}
			<li class="uk-diabaled"><span><i class="uk-icon-angle-double-left"></i></span></li>
		{% endif %}
			<li class="uk-active"><span>{{ page.page_index }}</span></li>
		{% if page.has_next %}
			<li><a href="{{ url }}{{ page.page_index + 1}}"><i class="uk-icon-angle-double-right"></i></a></li>
		{% else %}
			<li class="uk-diabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
		{% endif %}
	</ul>
{% endmacro %}
-->
<html>
<head>
	<meta charset="utf-8">
	{% block meta %}<!--block meta-->{% endblock%}
	<title>{% block title %} ? {% endblock %} - Python Webapp</title>
	<link rel="stylesheet" href="/static/css/uikit.min.css">
	<link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
	<link rel="stylesheet" href="/static/css/awesome.css" >
	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/js/sha1.min.js"></script>
	<script src="/static/js/uikit.min.js"></script>
	<script src="/static/js/sticky.min.js"></script>
	<script src="/static/js/vue.min.js"></script>
	<script src="/static/js/awesome.js"></script>
	{% block beforehead %}<!-- before head -->{% endblock %}
</head>
<body>
	<nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
		<div class="uk-container uk-container-center">
			<a href="/" class="uk-navbar-brand">Awesome</a>
			<ul class="uk-navbar-nav">
					<li data-url="blogs"><a href="/"><i class="uk-icon-home"></i>BLOGs</a></li>
			</ul>
</body>



